@page "/"

@using Picalines.OuterWilds.SceneRecorder.WebUI.Services;

@inject IModApiClient ModApiClient

<h1>Hello, world!</h1>

<button @onclick=StartRecording>Start recording</button>

@code {
    private async void StartRecording()
    {
        await ModApiClient.SetRecorderEnabledAsync(true);
    }
}
