@page "/"

@using Picalines.OuterWilds.SceneRecorder.WebUI.Services;

@inject IModApiClient ModApiClient

<h1>Hello, world!</h1>

@if (_IsRecording is false)
{
    <button @onclick=StartRecording>Start recording</button>
}
else
{
    <span>Recording (@_FramesRecorded / @_FramesToRecord)</span>
}

@code {
    private bool _IsRecording = false;

    private int _FramesToRecord;

    private int _FramesRecorded;

    private async void StartRecording()
    {
        _IsRecording = await ModApiClient.SetRecorderEnabledAsync(true);

        if (_IsRecording)
        {
            WatchRecordingProgress();
        }
    }

    private async void WatchRecordingProgress()
    {
        _FramesToRecord = (await ModApiClient.GetSceneSettingsAsync())?.FrameCount ?? -1;

        while (await ModApiClient.GetRecorderEnabledAsync())
        {
            _FramesRecorded = await ModApiClient.GetRecorderFramesRecorded() ?? -1;
            await InvokeAsync(StateHasChanged);

            await Task.Delay(500);
        }

        _IsRecording = false;
        await InvokeAsync(StateHasChanged);
    }
}
